@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-8 mb-2">منطقـة تجنيـــد وتعبئــة أسيــوط</h2>
    <h2 class="display-8 mb-2">مكتـــب السيـــــد المديــــــر</h2>
</div>
